*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
}




.img-rotate{
    top: 50%;
    left: 50%;
    transform: translate3d(-3%, 10%, 60px) rotateZ(-15deg) rotateY(180deg);
    width: 300px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
    /* transform: translate3d(0,0,100px) rotateY(80deg); */
}

.container .box{
    position: relative;
    height: 400px;
    width: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box:before{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: .5s;
}

.container .box::after{
    content: 'SHOES';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: .5s;
}

.container .box:hover::before,
.container .box:hover::after{
    opacity: 0.04;
}


.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    color: #fff;
    transform: translate3d(0,0,75px);
    transition: .5s;
    opacity: 0;
    z-index: 10;

}


.container .box:hover .name{
    top: 40px;
    opacity: 1;
}


.container .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: .5s; 
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy{
    bottom: 30px;
    opacity: 1;
}

.container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    transition: .5s;
    background-color: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);

}

.container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100px;
    transition: .5s;
    z-index: 11;
    transition: .5s;
    transform-style: preserve-3d;
} 

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{
     background-color: #9bdc28;
}


.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy{
     background-color: #379bf7;
}


.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy{
     background-color: #fb4b4f;
}